<div class="header-section">
  <div class="logo-section">
    <img class="header-logo" src="assets/images/nitor-logo.png" alt="images">
    <div class="logo-heading">
      <h1 class="">Azure Key Vault Manager</h1>
    </div>
  </div>
</div>
<div class="container-fluid top-section">
  <div class="card m-3">
    <h5 class="card-header">Set Configuration</h5>
    <div class="card-body">
      <form [formGroup]="credentialsForm">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Client ID<span class="red-color">*</span></label>
            <input type="text" id="clientID" formControlName="clientID" class="form-control control-box"
              [ngClass]="{'alert alert-danger': credentialsForm.get('clientID').touched && credentialsForm.get('clientID').hasError('required')}" />
          </div>
          <div class="form-group col-md-6">
            <label>Tenant ID<span class="red-color">*</span></label>
            <input type="text" formControlName="tenantID" class="form-control control-box"
              [ngClass]="{'alert alert-danger': credentialsForm.get('tenantID').touched && credentialsForm.get('tenantID').hasError('required')}" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>keyVault Base Url<span class="red-color">*</span></label>
            <input type="text" formControlName="keyVaultBaseUrl" class="form-control control-box"
              [ngClass]="{'alert alert-danger': credentialsForm.get('keyVaultBaseUrl').touched && credentialsForm.get('keyVaultBaseUrl').hasError('required')}" />
          </div>
          <div class="form-group col-md-6">
            <label>Secret Key<span class="red-color">*</span></label>
            <input type="text" formControlName="secretKey" class="form-control control-box"
              [ngClass]="{'alert alert-danger': credentialsForm.get('secretKey').touched && credentialsForm.get('secretKey').hasError('required')}" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card m-3">
    <h5 class="card-header">Export Secrets</h5>
    <div class="card-body">
      <div class="form-row">
          <button class="export-btn" [disabled]="!credentialsForm.valid" (click)="exportSecrets()">Export
            Secrets</button>
          <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> -->
        <table class="table export-table" *ngIf="exportedSecrets.length">
          <thead class="thead-light">
            <tr>
              <th>Secret Name</th>
              <th>Secret Type</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of exportedSecrets; let i = index">
              <td>{{item.secretname}}</td>
              <td>{{item.secrettype}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card m-3">
    <h5 class="card-header">Import Secrets</h5>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-6">
          <input type="file" id="file" accept="application/JSON" [disabled]="!credentialsForm.valid"
            (change)="selectFile($event.target.files)">
        </div>
        <table class="table" *ngIf="secretFileData.length">
          <thead class="thead-light">
            <tr>
              <th>Secret Name</th>
              <th>Secret Type</th>
              <th>Secret Value</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of secretFileData; let i = index">
              <td>{{item.secretname}}</td>
              <td>{{item.secrettype}}</td>
              <td>{{item.secretvalue}}</td>
            </tr>
          </tbody>
        </table>
        <div class="form-group col-6" *ngIf="secretFileData.length">
          <button class="export-btn" [disabled]="!(credentialsForm.valid && secretFileData.length > 0)"
            (click)="importSecrets()">Import Secrets</button>
        </div>
      </div>
    </div>
  </div>
</div>